<!DOCTYPE html>
<html>

<head>
  <title>Leaderboard | Take a sip of NOT milk, please</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="block navbar">
        <div class="content navbar">
          <div class="brand">
            <a href="/"><img src="../static/icon.png" /></a>
          </div>
          <div class="links">
            <a href="/leaderboard">Leaderboard</a>
          </div>
        </div>
      </div>
      <div class="block brand">
        <div class="content brand">
          <div class="brand">
            <img src="../static/logo.png" />
          </div>
        </div>
      </div>
      <div class="block page">
        <div class="content page">
          <div class="board">
            <h2>Leaderboard</h2>
            <hr>
            <div class="items" id="users">
              {{#each users}}
                <div class="item">
                  <p class="position">{{@index}}</p>
                  <div class="icon">
                    <img src="{{this.alias_pfp}}" />
                  </div>
                  <p class="name">{{this.alias_name}}</p>
                  <p class="count">{{this.points}} 🥛 </p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="block footer">
        <div class="content footer">
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  let items = document.getElementById("users");

  for (item of items.children) {
    let i = item.getElementsByClassName("position")[0];
    i.innerHTML = Number(i.innerHTML) + 1;
  }
</script>
</html>
